@inject Proyecto_Licorera_Corchos.web.Services.IUserService _userService

<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "" : "collapsed")"
               asp-action="Index"
               asp-controller="Home">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>



        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Sales" ? "" : "collapsed")"
               asp-controller="Sales"
               asp-action="Index">
                <i class="bi bi-bar-chart"></i>
                <span>Ventas</span>
            </a>
        </li>

        <!-- Botón para Productos -->
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Products" ? "" : "collapsed")"
               asp-controller="Products"
               asp-action="Index">

                <i class="bi bi-box-seam"></i> 

                <span>Productos</span>
            </a>
        </li>

        <!-- Botón para secciones -->
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "" : "collapsed")"
               asp-controller="Users"
               asp-action="Login">
                <i class="bi bi-columns-gap"></i> <!-- Icono representativo de login -->
                <span>Secciones</span>
            </a>
        </li>

        <!-- Botón para Usuarios -->
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Users" ? "" : "collapsed")"
               asp-controller="Users"
               asp-action="Index">
                <i class="bi bi-people"></i> <!-- Icono representativo de usuarios -->
                <span>Usuarios</span>
            </a>
        </li>

        <!-- Botón para Sectiones -->
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Sections" ? "" : "collapsed")"
               asp-controller="Sections"
               asp-action="Index">
                <i class="bi bi-person"></i>
                <span>Secciones</span>
            </a>
        </li>

        <!-- Botón para Roles -->
        <li class="nav-item">
            <a class="nav-link @(ViewContext.RouteData.Values["Controller"].ToString() == "Roles" ? "" : "collapsed")"
               asp-controller="Roles"
               asp-action="Index">
                <i class="bi bi-shield-lock"></i> <!-- Icono representativo de roles -->
                <span>Roles</span>
            </a>
        </li>

        

      

    </ul>

</aside><!-- End Sidebar -->
